@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}
.container{
position: relative;
background-color: #fff;
background-image: url("/HTML\ AND\ CSS\ Projects/bg.png");
background-size: cover;
padding: 25px;
border-radius: 26px;
max-width: 380px;
width: 100%;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,logo {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo img{
 width: 48px;
 margin-right: 10px;

}
h5{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
header .chip{
    width: 60px;
}
h6{
    color: #fff;
}
h5 .number
{
    margin-top: 4px;
font-size: 18px;
letter-spacing: 1px;
}
h5.name{
    margin-top: 40px;
}
.container .card-details{
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;

}